* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #95d4c0;
  font-family: 'Montserrat', sans-serif;
}

.title-wrapper {
  position: relative;
}

h1 {
  font-size: 3rem;
  font-weight: 00;
  color: white;
  text-align: center;
  margin-top: 3rem;
  text-shadow: 3px 5px #338f83;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 700px;
}

.buttons-wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-btn {
  margin: 10px;
  padding: 1.5rem;
  color: #338f83;
  background: linear-gradient(to right top,
  rgba(255, 221, 163, 0.75),
  rgba(255, 255, 255, 0.4)
  );
  font-size: 3rem;
  border: 2px solid rgb(51, 143, 131);
  padding: 1rem;
  box-shadow: 3px 3px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.game-btn:focus {
  outline: none;
}

.game-btn:hover {
  background: linear-gradient(to right top,
  rgba(255, 221, 163, 0.7),
  rgba(255, 255, 255, 0.15)
  );
}

.game-btn:active {
  background: linear-gradient(to right top,
  rgba(255, 221, 163, 0.7),
  rgb(40, 116, 105, 0.3)
  );
  box-shadow: 2px 2px inset;
}

.fas {
  pointer-events: none;
}

.win-lose-result {
  color:white;
  text-shadow: 2px 3px #338f83;
  padding-top: 10px;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
}

.results {
  color: #338f83;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  border: 2px solid;
  padding: 1rem;
  box-shadow: 4px 4px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin: 15px 30px 30px 30px;
}

.round-count {
  align-self: center;
}

.chosen-icons {
  min-height: 25vh;
}

.points {
  display: flex;
  justify-content: space-around;
}